#!/usr/bin/env ruby

compile '/styles/*' do
  filter :rainpress
  filter :relativize_paths, :type => :css
end

compile '/scripts/*' do
end

# Blog
compile '/blog/*' do
  filter :erb
  layout 'blog'
end

compile '/static/*' do
end

compile '*' do
  filter :erb
  filter :relativize_paths, :type => :html
  layout 'default'
end


route '/static/*' do
  # /static/foo.html/ → /foo.html
  item.identifier[7..-2]
end

route '/styles/*' do
  item.identifier[0..-2] + '.css'
end

route '/scripts/*' do
  item.identifier[0..-2] + '.js'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :erb
