<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<% if @item[:title] %>
<title>richard carter - <%= @item[:title] %></title>
<% else %>
<title>richard carter - nc state student and game developer</title>
<% end %>
<link href="/styles/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="page">
<%= yield %>
</div>
</body>
</html>

